.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70rem;
}
.card-front-container {
  height: 100%;
  position: relative;
}
.card-front {
  width: 384.95px;
  z-index: -1;
}

.card-back {
  width: 384.95px;
  margin-left: 7rem;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 7rem;
  justify-content: space-between;
  position: absolute;
  top: 2.3rem;
  left: 2.3rem;
}
.big-circle {
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
}
.hollow-circle {
  border: 2px solid white;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
}

.card-number {
  position: absolute;
  left: 2.3rem;
  bottom: 9rem;
  font-size: 2.9rem;
  color: white;
  font-weight: 400;
}
.details-lower {
  position: absolute;
  bottom: 5.3rem;
  left: 2.3rem;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-right: 4rem;
  /*fix spacing issue with expiry date*/
}
.full-name {
  text-transform: uppercase;
}
.CVC-number {
  position: absolute;
  right: 7.3rem;
  bottom: 10.4rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}
@media (max-width: 1043px) {
  .card-back {
    margin-left: 0;
  }
  .image-container {
    width: 60rem;
  }
  .details-lower {
    padding-right: 0;
    width: 34rem;
  }
}
@media (max-width: 934px) {
  .CVC-number {
    margin-right: -2rem;
  }
}
