.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70rem;
}
.card-front-container {
  height: 100%;
  position: relative;
}
.card-front {
  width: 384.95px;
  z-index: -1;
}

.card-back {
  width: 384.95px;
  margin-left: 7rem;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 7rem;
  justify-content: space-between;
  position: absolute;
  top: 2.3rem;
  left: 2.3rem;
}
.big-circle {
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
}
.hollow-circle {
  border: 2px solid white;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
}

.card-number {
  position: absolute;
  left: 2.3rem;
  bottom: 9rem;
  font-size: 2.9rem;
  color: white;
  font-weight: 400;
}
.details-lower {
  position: absolute;
  bottom: 5.3rem;
  left: 2.3rem;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-right: 4rem;
  /*fix spacing issue with expiry date*/
}
.full-name {
  text-transform: uppercase;
}
.CVC-number {
  position: absolute;
  right: 7.3rem;
  bottom: 10.4rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}
@media (max-width: 1043px) {
  .card-back {
    margin-left: 0;
  }
  .image-container {
    width: 60rem;
  }
  .details-lower {
    padding-right: 0;
    width: 34rem;
  }
}
@media (max-width: 934px) {
}

@media (max-width: 872px) {
  .card-back-container {
    position: inherit;
  }
  .image-container {
    width: 100%;
    position: relative;
    padding-bottom: 2rem;
  }
  .card-back-container {
    position: absolute;
    z-index: -5;
    right: 3rem;
    top: -12rem;
  }
  .card-number {
    bottom: 7rem;
  }
  .details-lower {
    bottom: 3.3rem;
  }
  .CVC-number {
    margin-right: -2rem;
  }
}
@media (max-width: 575px) {
  .card-front {
    width: 290px;
  }
  .card-back {
    width: 290px;
  }
  .card-back-container {
    top: -9rem;
    right: 0;
  }
  .card-number {
    font-size: 2rem;
    bottom: 5.5rem;
  }
  .full-name {
    font-size: 1.3rem;
  }
  .card-expiry-date {
    font-size: 1.3rem;
  }
  .details-lower {
    width: 25rem;
    bottom: 2.5rem;
  }
  .big-circle {
    width: 3.5rem;
    height: 3.5rem;
  }
  .hollow-circle {
    width: 1.6rem;
    height: 1.6rem;
  }
  .CVC-number {
    font-size: 1.3rem;
    bottom: 7.8rem;
    margin-right: -3.5rem;
  }
  .logo-container {
    width: 6rem;
  }
}
